html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.isActive{
  margin-right: 12px;
  color: blue;
  font-weight: bold;
}

.Select-menu{
  width:100px;
}

